@font-face {
  font-family: rubik-variable;
  src: url(./assets/fonts/Rubik-VariableFont_wght.ttf);
  font-weight: 125 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: rubik-variable;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
